form {
  margin-bottom: 24px;
  width: 100%;
}

.searchbox {
  background-color: #fafafa;
  border: 3px solid #444;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  height: 48px;
  padding: 0 10px;
  width: calc(100% - 100px);
}

.submit-btn {
  background-color: transparent;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  text-decoration: underline;
  width: 100px;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:focus,
.searchbox:focus {
  outline: none;
}
