.artist-details {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}


@media (max-width: 600px) {
  .artist-image {
    max-width: 50%;
  }
}

.artist-details__top-level {
  margin-left: 24px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  font-style: italic;
}